boto==2.49.0
certifi==2020.12.5
chardet==4.0.0
entrypoints==0.3
gmpy2==2.0.8
idna==2.10
locket==0.2.0
mpmath==1.1.0
mysql-connector-python==8.0.24
numpy==1.20.2
pandas==1.2.4
protobuf==3.15.8
pycosat==0.6.3
pycurl==7.43.0.6
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
requests==2.25.1
ruamel-yaml==0.15.87
six==1.15.0
urllib3==1.26.4
